# Minimal Django Buildout
# http://code.google.com/p/django-buildout/

[buildout]
eggs = 
  MySQL-python
  south
  pytz
  pywunderground
  django-twilio  
parts =
  django
versions = versions

[versions]
django = 1.4

[django]
recipe = djangorecipe
wsgi = true
settings = settings
eggs = ${buildout:eggs}
extra-paths =
project = moon